body {
    background-color: rgb(137, 198, 245);
}

h1{
    text-align: center;
    color: red;
}

p{
    text-align: center;
    font-size: 20px;
}

li{
    color: rgb(32, 170, 32);
    font-size: 20px;
}

img{
    display: block;
    margin: 0 auto;
    border: 3px solid black;
    width: 300px;
}

a{
    color: blue;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: rgb(1, 1, 122);
    text-decoration: underline;
}

h1{
    color: brown;
}